<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skynet.system.dao.DeptDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.skynet.system.bean.Esecdptdef">
		<id column="dept_id" property="deptId" />
		<result column="parent_id" property="parentId" />
		<result column="name" property="name" />
		<result column="order_num" property="orderNum" />
		<result column="del_flag" property="delFlag" />
		<result column="create_user_id" property="createUserId" />
		<result column="create_time" property="createTime" />
		<result column="update_user_id" property="updateUserId" />
		<result column="update_time" property="updateTime" />
	</resultMap>
	
	<select id="get" resultType="com.skynet.system.bean.Esecdptdef" resultMap="BaseResultMap">
		select
		`dept_id`,`parent_id`,`name`,`order_num`,`del_flag`,`create_user_id`,`create_time`,`update_user_id`,`update_time` from esecdptdef
		where dept_id = #{value}
	</select>

	<select id="list" resultType="com.skynet.system.bean.Esecdptdef" resultMap="BaseResultMap">
		select `dept_id`,`parent_id`,`name`,`order_num`,`del_flag`,`create_time`,`update_user_id`,`update_time` from
		esecdptdef
		<where>
			<if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
			<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>
			<if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
			<if test="createUserId != null and createUserId != ''"> and create_user_id = #{createUserId} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateUserId != null and updateUserId != ''"> and update_user_id = #{updateUserId} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by dept_id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from esecdptdef
		<where>
			<if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
			<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>
			<if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
			<if test="createUserId != null and createUserId != ''"> and create_user_id = #{createUserId} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateUserId != null and updateUserId != ''"> and update_user_id = #{updateUserId} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		</where>
	</select>

	<insert id="create" parameterType="com.skynet.system.bean.Esecdptdef"
		useGeneratedKeys="true" keyProperty="deptId">
		insert into esecdptdef
		(
		`parent_id`,
		`name`,
		`order_num`,
		`del_flag`,
		`create_user_id`,
		`create_time`,
		`update_user_id`,
		`update_time`
		)
		values
		(
		#{parentId},
		#{name},
		#{orderNum},
		#{delFlag},
		#{createUserId},
		#{createTime},
		#{updateUserId},
		#{updateTime},
		)
	</insert>

	<update id="update" parameterType="com.skynet.system.bean.Esecdptdef">
		update esecdptdef
		<set>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="orderNum != null">`order_num` = #{orderNum}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
			<if test="createUserId != null">`create_user_id` = #{createUserId}</if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
			<if test="updateUserId != null">`update_user_id` = #{updateUserId}</if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where dept_id = #{deptId}
	</update>

	<delete id="delete">
		delete from esecdptdef where dept_id = #{value}
	</delete>

	<delete id="batchDelete">
		delete from esecdptdef where dept_id in
		<foreach item="deptId" collection="array" open="(" separator=","
			close=")">
			#{deptId}
		</foreach>
	</delete>
	
	<select id="listParentDept" resultType="long">
		select DISTINCT parent_id from esecdptdef
	</select>

    <select id="getDeptUserNumber" resultType="int">
		select count(*) from esecusrdef where dept_id = #{value}
	</select>
</mapper>